---
layout: default
title: 关于
categories: about
---

<body class="page-template page-template-fullwidth page-template-fullwidth-php page page-id-50">
{% include nav.html %}
{% include page_title.html %}
<div class="page-builder">
    <div class="container">
        <div class="row">
            <!-- Blog Area -->
            <div class="col-md-12">
                <div class="blog-lg-area-left">
                    <blockquote class="wp-block-quote"><p>关键词</p><cite>诊所，医生，病人，诊疗费，药方，药房</cite></blockquote>
                    <p>
                        「病人」感觉自己生病了，不知道如何医治，于是去「诊所」找「医生」，挂了号付了「诊疗费」，「医生」给「病人」把脉诊断，并根据病人的病情开具「药方」，「病人」拿到「药方」，想着自己去各家「药房」抓药太烦了，得知「诊所」可以代办抓药，而且没有代办费，于是选择直接在「诊所」抓药了。<br>
                    </p>
                    <blockquote class="wp-block-quote"><p>关键词</p><cite>真心话险事务所，保险经纪人，客户，咨询费，保险方案，保险公司</cite>
                    </blockquote>
                    <p>
                        「客户」觉得保险是个好东西，自己及家庭需要购买一些，但无从下手，于是来「真心话险事务所」找「保险经纪人」，简单交流意向之后，付了「咨询费」，「保险经纪人」详细分析客户需求，根据「客户」的实际情况推荐「保险方案」，「客户」拿到「保险方案」，想着自己去各家「保险公司」投保太烦了，得知「真心话险事务所」可以代办投保，而且没有代办费，于是选择直接在「真心话险事务所」投保了。<br>
                    </p>
                    <p><strong>明白『真心话险』事务所是做什么的了吗？</strong></p>
                    <p>接下来您可能还想了解以下信息：</p>
                    <blockquote class="wp-block-quote"><p><strong>■ 你们如何证明自己专业</strong></p><cite>我们都曾就职于世界五百强欧美企业，具有先进的西方理念与中国本土化经验。<br><br>微信公众号『真心话险』有原创保险法律相关的专栏『壹周壹案』，可在公众号左下方菜单栏阅读。<br><br>在「知乎」开办了『真心话险』专栏。<br><br>是支付宝「保民公社」的认证保险顾问。<br><br>经纪人都有专属的执业证编号，都能在保监会信息系统中查询到。<br>保监会保险中介监管信息系统:
                        http://iir.circ.gov.cn/web/<br>执业证编号: 26050032000080062017000101</cite></blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;哪些人可以找你们</strong></p><cite>任何有保险需求，却无从下手的个人、家庭、企业，均可前来咨询，不受地域限制，全国承接委托。另外由于我们掌握多国语言，所以在中国的外国人也可以来咨询。</cite>
                    </blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;为什么要收费</strong></p><cite>有三个普遍认同的观点：<br>1.
                        术业有专攻<br>2. 时间是世界上最宝贵的东西<br>3. 免费的往往是最贵的<br><br>如果你认同这三个观点，认可你自己的时间价值，并尊重我们的专业价值，那么我们相信你是乐意付费的，因为付费可以最大程度的保证你获得我们
                        —— 最专业、最客观的建议和指导。<br><br>虽然你花了咨询费，但实际上最后你买到了最适合自己的保险方案，避免了花更多的冤枉钱。</cite></blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;跟自己在保险公司投保有什么差别</strong></p><cite>我们比你更熟悉投保流程，协助你对接各家保险公司，比自己去投保轻松些。因为我们每天都在投保，而你几年才可能投保一次，并且这些都没有额外费用。</cite>
                    </blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;都跟哪些保险公司有合作</strong></p><cite>几乎市面上热门且耳熟能详的保险公司我们都合作，实际上我们并不会局限在合作的保险公司中挑选产品，对客户负责才是我们的宗旨。</cite>
                    </blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■ 为什么推荐的保险公司有一些没听说过</strong></p><cite>有不少实力雄厚的保险公司由于发展策略和规划，并未采用代理人模式，也未必会投放大量广告，所以这些保险公司没听说过，反而是很正常的现象。</cite>
                    </blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■ 若当地没有某家保险公司，理赔怎么办</strong></p><cite>98%
                        的保险公司都已经开通了线上理赔功能。</cite></blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;小保险公司理赔会不会有问题</strong></p><cite>其实无论是理赔范围，还是理赔周期，都需要参考双方合同中的条款，跟保险公司的大与小，没有必然联系。如果是担心小保险公司是否可靠，可阅读一下保监会微信公众号的这篇文章<a
                            rel="noreferrer noopener"
                            href="http://mp.weixin.qq.com/s?__biz=MzA3OTkwODAwNw==&amp;mid=2651225807&amp;idx=1&amp;sn=99e5540802f3cbd2a4f8fd2a7e464b39&amp;chksm=845e8307b3290a116dbb033c6077bba95162b6fe00c58ee4139527eba0d7ae70824821e5ad37&amp;scene=21#wechat_redirect"
                            target="_blank">《担心保险公司会倒闭？闹哪！》</a></cite></blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;服务流程是什么样的</strong></p><cite>1.
                        收集基本信息，签署『保密协议』<br>2. 一对一沟通，确定初步方案<br>3. 方案细化，条款解读，确定最终方案<br>4. 协助投保、递送保险合同<br>5.
                        定期或不定期的保单整理和保单体检<br>6. 保全、理赔等一系列后续服务<br>7. 持续获取各类真实有效的保险资讯</cite></blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;如何联系你们</strong></p><cite>可以加经纪人个人微信「candyyang5566」并备注「保险咨询」。<br>如果你正好在苏州，也可以直接来『真心话险』事务所面谈。<br>苏州市工业园区独墅湖高教区林泉街
                        567 号 G-2<br><br>原则上我们也接受同业交流请求，请备注「公司名称 + 姓名」，但我们不接受同业通过持续发问，从而获取我们的保险方案以谋取自身利益，请自行修炼内功。</cite>
                    </blockquote>
                    <blockquote class="wp-block-quote"><p><strong>■&nbsp;如何收费</strong></p><cite>个人 ￥299<br>家庭 ￥599<br>企业
                        &nbsp;面议<br><br>一次付费，终身享受专业的咨询服务。&nbsp;</cite></blockquote>
                </div>
            </div>
            <!-- /Blog Area -->
        </div>
    </div>
</div>
<!-- /Blog Section with Sidebar -->
{% include footer.html %}
</body>