---
layout: default
title: index
---

<body class="home blog">
{% include nav.html %}
<div class="clearfix"></div><!-- Slider Section -->
<div class="homepage-mycarousel">
    <div id="carousel-example-generic" class="carousel slide slide" data-ride="carousel"
         data-interval="2000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img width="1600" height="500" src="//bowxeon.gitee.io/office.baoxian-sz.com/assets/img/slide2.jpg" class="img-responsive wp-post-image" alt=""
                     srcset="//bowxeon.gitee.io/office.baoxian-sz.com/assets/img/slide2.jpg 1600w, //bowxeon.gitee.io/office.baoxian-sz.com/assets/img/slide2-300x94.jpg 300w, //bowxeon.gitee.io/office.baoxian-sz.com/assets/img/slide2-768x240.jpg 768w, //bowxeon.gitee.io/office.baoxian-sz.com/assets/img/slide2-1024x320.jpg 1024w"
                     sizes="(max-width: 1600px) 100vw, 1600px"/>
                <div class="container slide-caption">
                    <div class="slide-text-bg1"><h2>让你的保险更保险</h2></div>
                    <div class="slide-text-bg2"><span>Truth &amp; Insurance Office 用诚意打造业界良心之作，以严谨的态度筛选海量产品 </span>
                    </div>
                </div>
            </div>
            <div class="item ">
                <img width="1600" height="500" src="//bowxeon.gitee.io/office.baoxian-sz.com/assets/img/partner.png" class="img-responsive wp-post-image" alt=""
                     srcset="//bowxeon.gitee.io/office.baoxian-sz.com/assets/img/partner.png 1600w, //bowxeon.gitee.io/office.baoxian-sz.com/assets/img/partner-300x94.png 300w, //bowxeon.gitee.io/office.baoxian-sz.com/assets/img/partner-768x240.png 768w, //bowxeon.gitee.io/office.baoxian-sz.com/assets/img/partner-1024x320.png 1024w"
                     sizes="(max-width: 1600px) 100vw, 1600px"/>
                <div class="container slide-caption">
                    <div class="slide-text-bg1"><h2>合作伙伴</h2></div>
                    <div class="slide-text-bg2"><span>超大覆盖面，个性化保险方案定制</span></div>
                </div>
            </div>


        </div>
        <!-- Pagination -->
        <ul class="carou-direction-nav">
            <li><a class="carou-prev" href="#carousel-example-generic" data-slide="prev"></a></li>
            <li><a class="carou-next" href="#carousel-example-generic" data-slide="next"></a></li>
        </ul>
        <!-- /Pagination -->
    </div>
    <!-- /Slider Section -->
    <div class="top-contact-detail-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-area">
                        <div class="media">
                            <div class="contact-icon">
                                <i class="fa fa fa-weixin"></i>
                            </div>
                            <div class="media-body">
                                <h6>微信公众号</h6>
                                <h4>真心话险</h4>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-md-4">
                    <div class="contact-area">
                        <div class="media">
                            <div class="contact-icon">
                                <i class="fa fa fa-envelope"></i>
                            </div>
                            <div class="media-body">
                                <h6>咨询邮箱</h6>
                                <h4> service@baoxian-sz.com</h4>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-md-4">
                    <div class="contact-area">
                        <div class="media">
                            <div class="contact-icon">
                                <i class="fa fa fa-wifi"></i>
                            </div>
                            <div class="media-body">
                                <h6>在线 996</h6>
                                <h4>周一 ~ 周六 9:00 - 21:00</h4>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="Service-section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <div class="section-heading-title">
                        <h1> 我们的服务</h1>
                        <p>让人人都有自己的专属方案 </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="service-area">
                        <div class="media">
                            <div class="service-icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="media-body">
                                <h3>签署协议</h3>
                                <p>收集基本信息，签署「保密协议」</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-area">
                        <div class="media">
                            <div class="service-icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <div class="media-body">
                                <h3>确定方案</h3>
                                <p>一对一沟通，方案细化，条款解读，确定最终方案</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-area">
                        <div class="media">
                            <div class="service-icon">
                                <i class="fa fa-support"></i>
                            </div>
                            <div class="media-body">
                                <h3>协助投保</h3>
                                <p>协助投保、递交保险合同</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <div class="service-area">
                        <div class="media">
                            <div class="service-icon">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <div class="media-body">
                                <h3>保单整理</h3>
                                <p>定期或不定期的保单整理和保单体检</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-area">
                        <div class="media">
                            <div class="service-icon">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="media-body">
                                <h3>后续服务</h3>
                                <p>保全、理赔等一系列后续服务</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-area">
                        <div class="media">
                            <div class="service-icon">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="media-body">
                                <h3>获取资讯</h3>
                                <p>持续获取各类真实有效的保险资讯</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- /HomePage Service Section -->

    <div class="callout-section" style="background-color:#ccc;">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1>想问个好或寻找更多详情吗？</h1>
                        <p></p>

                        <div class="btn-area">
                            <a href="/about" class="callout-btn1">关于我们</a>


                            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&#038;__biz=MzI4OTIzMzM1OA==#wechat_redirect"
                               target='_blank' class="callout-btn2">一键关注</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /Callout Section -->
    <div class="clearfix"></div>
</div>
{% include footer.html %}
</body>
