---
layout: default
title: 团队
categories: team
---

<body class="page-template page-template-fullwidth page-template-fullwidth-php page page-id-58" onload="document.getElementById('loadingDiv').style.display='none'">
{% include nav.html %}
{% include page_title.html %}
<div class="page-builder">
    <div class="container">
        <div class="row">
            <!-- Blog Area -->
            <div class="col-md-12">
                <div class="blog-lg-area-left">
                    <blockquote class="wp-block-quote"><p><strong>事务所团队</strong></p><cite>不一般的组合</cite></blockquote>
                    <div class="wp-block-columns has-3-columns">
                        <div class="wp-block-column">
                            <figure class="wp-block-image is-resized"><img
                                    src="https://gitee.com/BowXeon/office.baoxian-sz.com/raw/master/assets/img/team_member_1.png?imageMogr2/strip/auto-orient/thumbnail/720x1440%3E/quality/90!/format/png"
                                    alt="" width="120" height="120"/></figure>
                            <p><strong>杨小贞</strong> | Candy</p>
                            <p>真心话险事务所创始人，FPSB China 认证 AFP。</p>
                        </div>
                        <div class="wp-block-column">
                            <figure class="wp-block-image is-resized"><img
                                    src="https://gitee.com/BowXeon/office.baoxian-sz.com/raw/master/assets/img/team_member_2.png?imageMogr2/strip/auto-orient/thumbnail/720x1440%3E/quality/90!/format/png"
                                    alt="" width="120" height="120"/></figure>
                            <p><strong>石巍 </strong>| Will</p>
                            <p>真心话险事务所联合创始人，事务所 CRM 顾问。PMI认证PMP|SA认证SM，曾负责过某大型国企百人国际劳务项目、EMC²分布式云存储软件测试等项目。</p>
                        </div>
                        <div class="wp-block-column">
                            <figure class="wp-block-image is-resized"><img
                                    src="https://gitee.com/BowXeon/office.baoxian-sz.com/raw/master/assets/img/team_member_3.png?imageMogr2/strip/auto-orient/thumbnail/720x1440%3E/quality/90!/format/png"
                                    alt="" width="120" height="120"/></figure>
                            <p><strong>黄立伟</strong> | Kyle</p>
                            <p>真心话险事务所运维顾问。PMI 认证 PMP，主流分布式云存储软件测试技术顾问，人工智能领域布道者。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Blog Area -->
        </div>
    </div>
</div>
<!-- /Blog Section with Sidebar -->
{% include footer.html %}
</body>