---
layout: default
title: 团队
---

<body class="page-template page-template-fullwidth page-template-fullwidth-php page page-id-58">

<!--Logo & Menu Section-->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <h1>
                <a class="navbar-brand" href="#" title="团队">

                    <img class="img-responsive"
                         src="/assets/img/logo_logo_zhenxinhuaxian_tiw_600_150.png"
                         style="height:50px; width:200px;" alt="真心话险 - Truth &amp; Insurance Office"/>
                </a></h1>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menu-%e7%9c%9f%e5%bf%83%e8%8f%9c%e5%8d%95" class="nav navbar-nav navbar-right">
                <li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a
                        href="/">首页</a></li>
                <li id="menu-item-79" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79"><a
                        href="/solution">方案</a></li>
                <li id="menu-item-78"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-78 active">
                    <a href="#">团队</a></li>
                <li id="menu-item-77" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77"><a
                        href="/consult">咨询</a></li>
                <li id="menu-item-133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133"><a
                        target="_blank" href="http://www.baoxian-sz.com">博客</a></li>
                <li id="menu-item-76" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"><a
                        href="/about">关于</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--/Logo & Menu Section-->
{% include page_title.html %}
<div class="page-builder">
    <div class="container">
        <div class="row">
            <!-- Blog Area -->
            <div class="col-md-12">
                <div class="blog-lg-area-left">
                    <blockquote class="wp-block-quote"><p><strong>事务所团队</strong></p><cite>不一般的组合</cite></blockquote>
                    <div class="wp-block-columns has-3-columns">
                        <div class="wp-block-column">
                            <figure class="wp-block-image is-resized"><img
                                    src="/assets/img/team_member_1.png?imageMogr2/strip/auto-orient/thumbnail/720x1440%3E/quality/90!/format/png"
                                    alt="" width="120" height="120"/></figure>
                            <p><strong>杨小贞</strong> | Candy</p>
                            <p>真心话险事务所创始人，FPSB China 认证 AFP。</p>
                        </div>
                        <div class="wp-block-column">
                            <figure class="wp-block-image is-resized"><img
                                    src="/assets/img/team_member_2.png?imageMogr2/strip/auto-orient/thumbnail/720x1440%3E/quality/90!/format/png"
                                    alt="" width="120" height="120"/></figure>
                            <p><strong>石巍 </strong>| Will</p>
                            <p>真心话险事务所联合创始人，事务所 CRM 顾问。PMI认证PMP|SA认证SM，曾负责过某大型国企百人国际劳务项目、EMC²分布式云存储软件测试等项目。</p>
                        </div>
                        <div class="wp-block-column">
                            <figure class="wp-block-image is-resized"><img
                                    src="/assets/img/team_member_3.png?imageMogr2/strip/auto-orient/thumbnail/720x1440%3E/quality/90!/format/png"
                                    alt="" width="120" height="120"/></figure>
                            <p><strong>黄立伟</strong> | Kyle</p>
                            <p>真心话险事务所运维顾问。PMI 认证 PMP，主流分布式云存储软件测试技术顾问，人工智能领域布道者。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Blog Area -->
        </div>
    </div>
</div>
<!-- /Blog Section with Sidebar -->
{% include footer.html %}
</body>