<div class="footer-section">
    <div class="container">
        <div class="row footer-widget-section">
            <div class="col-md-3 col-sm-6 footer-widget-column"><h3 class="footer-widget-title">关于我们</h3>
                <div class="textwidget">
                    <ul>
                        <li>真心话险事务所</li>
                    </ul>
                    <p>Truth &amp; Insurance Office</p>
                    <p>致力于「让你的保险更保险」苏州首家独立保险经纪事务所</p>
                    <p>用诚意打造业界良心之作，以严谨的态度筛选海量产品，用场景选择保险方案。</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 footer-widget-column"><h3 class="footer-widget-title">如何咨询</h3>
                <div class="textwidget">
                    <ul>
                        <li><strong>个人咨询</strong>
                            <ul>
                                <li></li>
                                <li>保险顾问 杨小贞</li>
                                <li>☏ 18550085404</li>
                                <li>✉ candy@baoxian-sz.com</li>
                            </ul>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <ul>
                        <li><strong>企业咨询</strong>
                            <ul>
                                <li></li>
                                <li>☞ <a href="http://baoxian-sz.mikecrm.com/K7cgttv" target="_blank"
                                         rel="noopener noreferrer">点击立即预约</a></li>
                                <li>✉ service@baoxian-sz.com</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 footer-widget-column"><h3 class="footer-widget-title">如何收费</h3>
                <div class="textwidget">
                    <ul>
                        <li>☞ <a href="https://mp.weixin.qq.com/s/uREEN3oxLETDmOzfeyVTBQ" target="_blank"
                                 rel="noopener noreferrer">为何要收费</a></li>
                        <li>个人 <strong>￥299</strong></li>
                        <li>家庭 <strong>￥599</strong></li>
                    </ul>
                    <p>&nbsp;</p>
                    <ul>
                        <li>一次付费</li>
                        <li>终身享受专业的服务</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 footer-widget-column"><h3 class="footer-widget-title">如何加入团队</h3>
                <div class="textwidget"><p>如果想加入本事务所，可以给我们来邮件取得联系。</p>
                    <p>✉ <a href="mailto:service@baoxian-sz.com">service@baoxian-sz.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /Footer Section -->
<div class="clearfix"></div>
<!-- Footer Copyright Section -->
<div class="footer-copyright-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="footer-copyright">
                    <p>版权归 <a href="//office.baoxian-sz.com"><b>真心话险事务所</b></a> 所有</p>
                    <p>Copyright 2017-2020 Truth & Insurance</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Footer Copyright Section -->
<!--Scroll To Top-->
<a href="#" class="hc_scrollup"><i class="fa fa-chevron-up"></i></a>
<!--/Scroll To Top-->
<script type='text/javascript' src='https://gitee.com/BowXeon/office.baoxian-sz.com/raw/master/assets/js/wp-embed.min.js?ver=5.3.4'></script>
