<!--Logo & Menu Section-->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <h1>
                <a class="navbar-brand" href="#" title="团队">

                    <img class="img-responsive"
                         src="//bowxeon.gitee.io/office.baoxian-sz.com/assets/img/logo_logo_zhenxinhuaxian_tiw_600_150.png"
                         style="height:50px; width:200px;" alt="真心话险 - Truth &amp; Insurance Office"/>
                </a></h1>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menu-office" class="nav navbar-nav navbar-right">
                {% if page.title == 'index' %}
                <li id="menu-item-6"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-6 active">
                    <a href="#">首页</a>
                </li>
                {% else %}
                <li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6">
                    <a href="/">首页</a>
                </li>
                {% endif %}

                {% if page.title == '方案' %}
                <li id="menu-item-79"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-79 active">
                    <a href="#">方案</a>
                </li>
                {% else %}
                <li id="menu-item-79" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79">
                    <a href="/solution">方案</a>
                </li>
                {% endif %}

                {% if page.title == '团队' %}
                <li id="menu-item-78"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-78 active">
                    <a href="#">团队</a>
                </li>
                {% else %}
                <li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78">
                    <a href="/team">团队</a>
                </li>
                {% endif %}

                {% if page.title == '咨询' %}
                <li id="menu-item-77"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-77 active">
                    <a href="#">咨询</a>
                </li>
                {% else %}
                <li id="menu-item-77" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77">
                    <a href="/consult">咨询</a>
                </li>
                {% endif %}

                <li id="menu-item-133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
                    <a target="_blank" href="//www.baoxian-sz.com">博客</a>
                </li>

                {% if page.title == '关于' %}
                <li id="menu-item-76"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-76 active">
                    <a href="#">关于</a>
                </li>
                {% else %}
                <li id="menu-item-76" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76">
                    <a href="/about">关于</a>
                </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>